h1 { border: solid black; 

  text-decoration: underline;  

   background-color: skyblue;

	padding:5%; margin:2%; 

	 text-align:center;
}
p1 { background:red;
    }

h2 { border: solid black; 

	text-decoration: underline; 

	background-color: green; padding:5%; 

      margin:2%; 

   text-align:center;
}

@media screen and (max-width: 555px){
  h1{ flex-direction: column; 
  	padding: 1%; margin: 1%;}
 p1{flex-direction: column;}
 h2 { flex-direction: column; }
 p1{ flex-direction: column; }
}
